mixin footer(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.footer__container--light
		div.row
			div.columns.large-3
				img.footer__ald(src="/images/ALD-logo-f.png", alt="logo")
			div.columns.large-4.large-offset-5
				div.footer__social
					a(href="#")
						img(src="/images/facebook-f.png", alt="facebook icon")
					a(href="#")
						img(src="/images/instagram-F.png", alt="instagram icon")
					a(href="#")
						img(src="/images/twitter-f.png", alt="twitter icon")
					a(href="#")
						img(src="/images/pinterest-f.png", alt="pinterest icon")
					a(href="#")
						img(src="/images/rss-f.png", alt="rss icon")
		div.row
			div.columns.large-3
				div.footer__container--light__text Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
				img.footer__legendairy(src="/images/dairy-australia.png", alt="sponsor")
			div.columns.large-2.large-offset-1.show-for-large
				div.footer__container--light__title Fitness
				ul.footer__container--light__list
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
			div.columns.large-2.show-for-large
				div.footer__container--light__title Health
				ul.footer__container--light__list
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
			div.columns.large-2.show-for-large
				div.footer__container--light__title Food
				ul.footer__container--light__list
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Quisque retrum
			div.columns.large-2.show-for-large
				div.footer__container--light__title Contact
				ul.footer__container--light__list
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Email us
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Press
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Feedback
					li.footer__container--light__list__item
						a.footer__container--light__list__item__link(href="#") Advertising
	div.footer__container--dark
		div.row
			div.columns.large-6
				div.footer__container--dark-left
					div.footer__container--dark__text A Little Dash © 2016.
					a.footer__container--dark__text(href="#") Terms & Conditions.
					a.footer__container--dark__text(href="#") Privacy Policy.
			div.columns.large-6
				div.footer__container--dark-right
					a.footer__container--dark__text(href="http://adelphi.digital") Website by Adelphi Digital.
			

		
