mixin subscribe(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.subscribe__container
		div.row
			div.columns.large-7.large-centered
				div.subscribe__icon__container.hide-for-large
					img.subscribe__icon(src='/images/newsletter-pop.png')
				div.subscribe__title Subscribe to our newsletter
				div.subscribe__text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet direct to your inbox, for busy people.
				div.subscribe__text--bold.show-for-large I'm interested in
				div.subscribe__mobile__btn.hide-for-large Subscribe here
				form.subscribe__form.show-for-large#subscribe-form-2(action="/", method="post")
					div.subscribe__checkbox__container
						input.subscribe__checkbox#subscribe-fitness(type='checkbox', name='subscribe-checkbox')
						label.subscribe__checkbox__label(for='subscribe-fitness')
							span.subscribe__checkbox__span
							| Fitness
						input.subscribe__checkbox#subscribe-lifestyle(type='checkbox', name='subscribe-checkbox')
						label.subscribe__checkbox__label(for='subscribe-lifestyle')
							span.subscribe__checkbox__span
							| Lifestyle
						input.subscribe__checkbox#subscribe-food(type='checkbox', name='subscribe-checkbox')
						label.subscribe__checkbox__label(for='subscribe-food')
							span.subscribe__checkbox__span
							| Food
					div.subscribe__input__container
						input.subscribe__input#subscribe-fname-2(placeholder="First name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First name'")
					div.subscribe__input__container
						input.subscribe__input#subscribe-lname-2(placeholder="Last name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last name'")
					div.subscribe__input__container
						input.subscribe__input.subscribe__input--email#subscribe-email-2(placeholder="Enter your email..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email...'")
						div.subscribe__submit Send me daily dash