.slick__container {
    // width: 100%;
    padding: 35px 0;

    &__frame{
    	height: 700px;
        width: 1160px;
        outline: none;
    }
}

.slick-slide img {
    display: none;
}

.slick-slide {
    @include m-color('white');
    //padding: 40px 0;
    //text-align: center;
}
.slick-prev {
    left: 25px;
    z-index: 1;
}

.slick-next {
    right: 25px;
}
.slick-prev:before, 
.slick-next:before {
    color: black;    
}
.slick-next:before{

}

.slick-dots {
    margin-top: 30px;
    position: static;
}

// All dots
.slick-dots li button:before{
    opacity: 1;
    @include m-color('slick-dot-inactive');
}

// Active dot
.slick-dots li.slick-active button:before{
    opacity: 1;
    @include m-color('slick-dot-active');
}