$jointhediscussionheight: 40px;

.author{

	// {{author__container}}
	&__container{
		position: relative;
		display: flex;
		align-items: flex-start;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		padding: 30px 0;
		margin: 40px 0;
	}

	// {{author__img}}
	&__img{

		// {{author__img__container}}
		&__container{
			height: 150px;
			width: 150px;
			border: 1px solid grey;
			border-radius: 50%;
			flex-shrink: 0;
		}
	}

	// {{author__join}}
	&__join{
		
		// {{author__join__container}}
		&__container{

			// {{author__join__container--outer}}
			&--outer{
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}

			// {{author__join__container--center}}
			&--center{
				display: flex;
				align-items: flex-end;
				justify-content: center;
				height: 100%;
			}

			// {{author__join__container--inner}}
			&--inner{
				@include m-bgcolor('jointhediscussion');
				@include m-color('white');
				display: flex;
				align-items: center;
				margin-bottom: - $jointhediscussionheight / 2;
				height: $jointhediscussionheight;
				padding: 0 20px;
				border-radius: 5px;
			}
		}

		// {{author__join__text}}
		&__text{

		}
	}
}