.footer{
	&__container{

		&--light{
			@include m-bgcolor('footer-light');

			&__list{
				margin: 0;
				list-style: none;
			}

			&__text{
				font-size: 15px;
			}

			&__title{
				font-size: 17px;
				font-weight: 600;
			}
		}
		&--dark{
			@include m-bgcolor('footer-dark');

			&-left{
				display: flex;
			}

			&-right{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-right: 16px;
			}

			&__text{
				@include m-color('white');
				padding: 25px 0;
				font-size: 12px;
				&:nth-child(1n+2){
					margin-left: 10px;
				}
				&:hover, &:focus{
					@include m-color('white');
				}
			}
		}
	}	
}