.filter{

	&__container{

		&--outer{
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 45px 0 40px;
		}

		&--inner{
			display: flex;
		}
	}

	&__button{
		text-align: center;
		margin: 0 25px;
	}

	// {{filter__checkbox}}
	&__checkbox{

		// Hidden default checkboxes
		&[type="checkbox"]{
			display: none;

			& + label{
				margin: 0;
			}

			// Unchecked style
			& + label span{
				display:block;
			    width:63px;
			    height:63px;
			    vertical-align: middle;
			    cursor:pointer;

			    &.all{
					background-image: url('/images/filter-all-off.png');
				}
			    &.fitness{
					background-image: url('/images/filter-fitness-off.png');
				}
			    &.food{
					background-image: url('/images/filter-food-off.png');
				}
			    &.lifestyle{
					background-image: url('/images/filter-lifestyle-off.png');
				}
			}

			&:checked + label{
				@include font('Breakers-Bold');
			}

			&:checked + label span{
				background-image: url('/images/filter-all-on.png');
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;

				&.all{
					background-image: url('/images/filter-all-on.png');
				}
			    &.fitness{
					background-image: url('/images/filter-fitness-on.png');
				}
			    &.food{
					background-image: url('/images/filter-food-on.png');
				}
			    &.lifestyle{
					background-image: url('/images/filter-lifestyle-on.png');
				}
			}
		}

		// {{filter__checkbox__label}}
		// Checkbox label so you can click the custom checkbox too
		&__label{
			@include font('Breakers-Regular');
			@include m-color('article-black');
			font-size: 20px;
		}

		// {{filter__checkbox__span}}
		// Custom Checkbox
		&__span{

		}
	}


}