$jointhediscussionheight: 40px;

.author{

	// {{author__container}}
	&__container{
		position: relative;
		display: flex;
		align-items: flex-start;
		border-top: 1px solid #999999;
		border-bottom: 1px solid #999999;
		padding: 30px 0;
		margin: 40px 0;
	}

	// {{author__img}}
	&__img{

		// {{author__img__container}}
		&__container{
			height: 150px;
			width: 150px;
			border: 1px solid #999999;
			border-radius: 50%;
			flex-shrink: 0;
		}
	}

	// {{author__join}}
	&__join{
		
		// {{author__join__container}}
		&__container{

			// {{author__join__container--outer}}
			&--outer{
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				pointer-events: none;
			}

			// {{author__join__container--center}}
			&--center{
				display: flex;
				align-items: flex-end;
				justify-content: center;
				height: 100%;
			}

			// {{author__join__container--inner}}
			&--inner{
				@include m-bgcolor('jointhediscussion');
				display: flex;
				align-items: center;
				margin-bottom: - $jointhediscussionheight / 2;
				height: $jointhediscussionheight;
				padding: 0 20px;
				border-radius: 5px;
				pointer-events: auto;

				&:hover, &:focus{
					@include m-color('white');
				}
			}
		}

		// {{author__join__text}}
		&__text{
			@include font('Breakers-Regular');
			@include m-color('white');
			font-size: 21px;
		}
	}

	// {{author__info}}
	&__info{
		margin-left: 20px;
	}

	// {{author__social}}
	&__social{

		// {{author__social__link}}
		&__link{
			margin-right: 10px;
		}
	}

	// {{author__name}}
	&__name{
		@include font('Breakers-Regular');
		@include m-color('paragraph');
		font-size: 18px;
	}

	// {{author__text}}
	&__text{
		@include font('Breakers-Light');
		@include m-color('paragraph');
		font-size: 18px;
		margin-bottom: 15px;
	}
}