.slick__container {

    // {{slick__container--index}}
    &--index{
        // width: 100%;
        padding: 115px 0 25px; // padding top for more space for header 
        background-size: 20%;
        overflow: hidden;

        @include mq(large){
            padding: 235px 0 35px; // padding top for more space for header 
        }

        // {{slick__container--index__frame}}
        &__frame{
            height: 285px;
            width: 100vw;
            outline: none;
            padding: 0 10px;

            @include mq(large){
                height: 700px;
                padding: 0;
            }

            @include mq(xlarge){
                width: 1160px;
            }
        }

        // {{slick__container--index__container}}
        &__container{
            position: relative;
        }

        // {{slick__container--index__arrow}}
        &__arrow{
            position: relative;
            height: 100%;
            max-width: 1160px;
            margin: 0 auto;

            // {{slick__container--index__arrow__container}}
            &__container{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;

                .slick-prev{
                    margin-top: 40px;
                    left: -40px;

                    &:before{
                        content: url('/images/hero-arrow-left.png');
                    }
                }

                .slick-next{
                    margin-top: 40px;
                    right: 26px;

                    &:before{
                        content: url('/images/hero-arrow.png');
                    }
                }
            }
        }

        .slick-slide img {
            display: none;
        }

        .slick-slide {
            @include m-color('white');
            //padding: 40px 0;
            //text-align: center;
        }
        .slick-prev {
            left: 25px;
            z-index: 1;
        }

        .slick-next {
            right: 25px;
        }
        .slick-prev:before, .slick-next:before {
            opacity: 1;
        }

        // Left Arrow
        .slick-next:before{
            margin-left: -685px;
            content: url('/images/hero-arrow.png');
        }

        // Right Arrow
        .slick-prev:before {
            margin-left: 315px;
            content: url('/images/hero-arrow-left.png');
        }

        // Container that holds all dots
        .slick-dots {
            margin-top: 30px;
            position: static;
        }

        &.slick-dotted.slick-slider{
            margin-bottom: 0;
        }

        // The container for each dot
        .slick-dots li{
            margin: 0 45px;
        }

        // All dots
        .slick-dots li button:before{
            opacity: 1;
            @include m-color('slick-dot-inactive');
            @include m-bgcolor('slick-dot-inactive');
            height: 10px;
            width: 60px;
            border-radius: 10px;
            content: ''; // replacing • from default slick
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
        }

        // Active dot
        .slick-dots li.slick-active button:before{
            opacity: 1;
            @include m-color('slick-dot-active');
            @include m-bgcolor('slick-dot-active');
        }
    }

    // {{slick__container--standard}}
    &--standard{
        // width: 100%;
        padding: 35px 0;
        overflow: hidden;

        // {{slick__container--standard__frame}}
        &__frame{
        	height: 480px;
            outline: none;
            padding: 0 20px;

            @include mq(large){
                width: 400px;
            }
        }

        .slick-slide img {
            display: none;
        }

        .slick-slide {
            //@include m-color('white');
            //padding: 40px 0;
            //text-align: center;
        }
    }
}