.subscribe{

	// {{subscribe__container}}
	&__container{
		@include m-bgcolor('subscribe');
		text-align: center;
		padding: 50px 0 55px;
		
		.container--standard &{
			background-color: rgba(88, 162, 209, 0.8);
		}
	}

	// {{subscribe__checkbox}}
	&__checkbox{

		// Hidden default checkboxes
		&[type="checkbox"]{
			display: none;

			// Unchecked style
			& + label span{
				display:inline-block;
			    width:19px;
			    height:19px;
			    margin:-2px 8px 0 0;
			    vertical-align: middle;
			    border: 2px solid f-color('white');
			    cursor:pointer;
			    border-radius: 5px;
			}

			&:checked + label span{
				background-image: url('/images/checkbox-tick.png');
				background-size: 120%;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		// {{subscribe__checkbox__container}}
		&__container{

		}

		// {{subscribe__checkbox__label}}
		// Checkbox label so you can click the custom checkbox too
		&__label{
			@include m-color('white');
			@include font('Breakers-Regular');
			font-size: 21px;
		}

		// {{subscribe__checkbox__span}}
		// Custom Checkbox
		&__span{

		}
	}

	// {{subscribe__text}}
	&__text{
		@include m-color('white');
		@include font('Breakers-Light');
		font-size: 21px;
		margin-bottom: 20px;

		// {{subscribe__text--bold}}
		&--bold{
			@include m-color('white');
			@include font('Breakers-Light');
			font-size: 21px;
			font-weight: 600;
		}
	}

	// {{subscribe__input}}
	&__input{
		@include font('Breakers-Regular');
		font-size: 21px;
		padding: 15px 25px;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		width: 70%;
		border: 1px solid grey;
		box-shadow: none;
		border-right: none;
		outline: none;

		&::-webkit-input-placeholder{
			@include m-color('subscribe-placeholder');
		}

		// {{subscribe__input__container}}
		&__container{
			display: flex;
			justify-content: center;
			margin-top: 25px;
		}
	}

	// {{subscribe__submit}}
	&__submit{
		@include font('Breakers-Regular');
		@include m-color('white');
		@include m-bgcolor('subscribe-btn');
		padding: 15px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border: 1px solid grey;
		cursor: pointer;
		font-size: 21px;

		&:hover, &:focus{

		}
	}

	// {{subscribe__title}}
	&__title{
		@include m-color('white');
		@include font('breakers-regular');
		font-size: 27px;
		margin-bottom: 10px;
		line-height: 1;

		@include mq(large){
			font-size: 36px;
		}
	}

	// {{subscribe__icon}}
	&__icon{
		width: 35px;

		&__container{
			margin-bottom: 25px;
		}
	}

	// {{subscribe__mobile}}
	&__mobile{

		&__btn{
			@include m-bgcolor('white');
			@include font('Breakers-Regular');
			font-size: 20px;
			border: 1px solid grey;
			padding: 10px;
			border-radius: 30px;
			max-width: 200px;
			margin: 0 auto;
			cursor: pointer;
		}
	}
}