.header{

	// {{header__container}}
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	// {{header__menu}}
	&__menu{

		// {{header__menu__container}}
		&__container{
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		// {{header__menu__img}}
		&__img{
			margin-right: 17px;
			width: 35px;
			transition: all 0.3s ease-in-out;

			@include mq(large){
				width: 53px;

				.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned &, .headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned &{
					width: 37px;
				}
			}
		}

		// {{header__menu__text}}
		&__text{
			@include m-color('white');
			@include font('Breakers-Regular');
			font-size: 26px;
		}
	}

	// {{header__right}}
	&__right{

		// {{header__right__container}}
		&__container{
			display: flex;
			align-items: center;
		}
	}

	// {{header__media}}
	&__media{

		// {{header__media__container}}
		&__container{
			@include m-bgcolor('white');
			padding: 17px;
			margin-right: 40px;
			border-radius: 50px;
			transition: all 0.3s ease-in-out;

			.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned &, .headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned &{
				background-color: transparent;
			}

			a{
				margin: 0 15px;
			}
		}
	}

	// {{header__search}}
	&__search{
		cursor: pointer;
		width: 45px;
		margin-top: 0;
		transition: all 0.3s;

		.headroom--pinned.headroom--not-top &{
			margin-top: 0;

			@include mq(large){
				margin-top: 65px;
			}
		}

		@include mq(large){
			width: auto;
		}
	}

	// {{header__facebook}}
	&__facebook{

		.headroom--pinned.headroom--not-top &{
			display: none;
		}

		// {{header__facebook-white}}
		&-white{
			display: none;

			.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned &{
				display: inline;
			}
		}
	}

	// {{header__instagram}}
	&__instagram{

		.headroom--pinned.headroom--not-top &{
			display: none;
		}

		// {{header__instagram-white}}
		&-white{
			display: none;

			.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned &{
				display: inline;
			}
		}
	}

	// {{header__subscribe}}
	&__subscribe{
		cursor: pointer;
		margin: 0 15px;

		.headroom--pinned.headroom--not-top &{
			display: none;
		}

		// {{header__subscribe-white}}
		&-white{
			margin: 0 15px;
			display: none;

			.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned &{
				display: inline;
			}
		}
	}

	// {{header__logo}}
	&__logo{
		transition: all 0.3s ease-in-out;
		width: auto;
		height: 80px;

		@include mq(large){
			height: 152px;
		}

		// Smaller version of the header when scrolling up
		.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned &, .headroom.headroom--not-bottom.headroom--not-top.headroom--unpinned &{
			height: 80px;

			@include mq(large){
				height: 60px;
			}
		}
	}
}

// {{headroom}}
.headroom {
	@include m-bgcolor('header');
	@include m-zindex('header');
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in-out;
	height: 100px;

	@include mq(large){
		height: 200px;
	}

	// {{headroom--unpinned}}
	&--unpinned{
		top: -200px;
	}

	// {{headroom--pinned}}
	&--pinned{
		height: 100px;
		top: 0;

		@include mq(large){
			height: 70px;
		}
	}

	// {{headroom--top}}
	&--top{
		height: 100px;

		@include mq(large){
			height: 200px;
		}
	}
}