.standard{

	// {{standard__img}}
	&__img{
		width: 100%;

		// {{standard__img__container}}
		&__container{
			position: relative;
			overflow: hidden;
			display: flex;
			align-items: center;
			max-height: 480px;
		}

		// {{standard__img__text}}
		&__text{
			@include m-color('white');
			@include font('Breakers-Bold');
			position: absolute;
			top: 0;
			left: 0;
			width: 55px;
			font-size: 12px;
			text-align: center;

			@include mq(large){
				font-size: inherit;
				padding: 10px;
				width: 100px;
			}

			.page--fitness &{
				@include m-bgcolor('fitness');
			}
		}
	}

	// {{standard__content}}
	&__content{

		figure{
			float: left;
			margin: 15px 0;

			@include mq(medium){
				max-width: 50%;
				margin: 0 20px 0 0;
			}
		}

		figcaption{
			@include font('Breakers-Regular');
			@include m-color('article-black');
			font-size: 12px;
		}
	}

	// {{standard__title}}
	&__title{
		@include font('Breakers-Light');
		@include m-color('article-black');
		line-height: 1;
		margin: 20px 0 10px;
		font-size: 28px;

		@include mq(large){
			text-transform: uppercase;
			margin: 35px 0;
			font-size: 42px;
		}

		// {{standard__title__container}}
		&__container{
			border-bottom: 1px solid grey;
			margin-bottom: 5px;
		}
	}

	&__content{

	}

	// {{standard__read}}
	&__read{

		// {{standard__read__container}}
		&__container{
			display: flex;
			align-items: center;
		}

		// {{standard__read__icon}}
		&__icon{
			margin-right: 5px;
		}

		// {{standard__read__text}}
		&__text{
			@include font('Breakers-Regular');
			@include m-color('article-author');
			font-size: 14px;
		}
	}

	// {{standard__stats}}
	&__stats{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;

		@include mq(large){
			margin-bottom: 50px;
		}
	}

	// {{standard__comments}}
	&__comments{
		@include font('Breakers-Regular');
		@include m-color('article-author');
		border-left: 1px solid grey;
		font-size: 18px;
		padding: 0 12px;

		// {{standard__comments--view}}
		&--view{
			@include m-color('article-author');
			@include font('Breakers-Regular');
			display: block;
			text-align: center;
			font-size: 18px;
			margin-bottom: 55px;

			&:hover, &:focus{
				@include m-color('article-author');
			}

			& small{
				font-size: 16px;
			}
		}
	}

	// {{standard__pattern}}
	&__pattern{

		// {{standard__pattern__container}}
		&__container{
			background-size: 20%;
			overflow: hidden;
		}
	}

	// {{standard__social}}
	&__social{

		// {{standard__social__container}}
		&__container{

			// {{standard__social__container--outer}}
			&--outer{
				display: flex;
				align-items: center;
				height: 400px;
				margin-left: 80px;
			}

			// {{standard__social__container--center}}
			&__center{

			}

			// {{standard__social__container--inner}}
			&--inner{
				@include font('Breakers-Regular');
				@include m-color('social');
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				width: 120px;
				border: 1px solid f-color('social');
				border-radius: 5px;
				margin-bottom: 10px;

				&:hover, &:focus{
					@include m-color('white');
					@include m-bgcolor('social');
					text-decoration: none;

					.standard__social__icon{
						display: none;

						&-white{
							display: block;
						}
					}
				}
			}
		}

		// {{standard__social__icon}}
		&__icon{
			margin-right: 10px;

			// {{standard__social__icon-white}}
			&-white{
				margin-right: 10px;
				display: none;
			}
		}
	}
}