.article{
	
	//{{article__link}}
	&__link{
		display: block;
		position: relative;
		height: 100%;
		overflow: hidden;
		outline: none;

		// Hover tag expand full and reduce opacity
		&:hover{
			text-decoration: none;
			.article__tag__container--outer{
				height: 100%;
				width: 100%;
				transition: all 0.3s;

				.lifestyle &{
					background-color: rgba(219, 154, 196, 0.8);
				}

				.fitness &{
					background-color: rgba(246, 166, 97, 0.8);
				}

				.food &{
					background-color: rgba(76, 192, 183, 0.8);
				}
			}
			.article__icon{
				display: inline;
				margin-bottom: 10px;
			}
		}
	}

	// {{article__icon}}
	&__icon{
		text-align: center;
		display: none;
	}

	//{{article__tag}}
	&__tag{
		@include font('Breakers-Black');
		font-size: 16px;
		
		//{{article__tag__container}}
		&__container{

			//{{article__tag__container--outer}}
			&--outer{
				@include m-color('white');
				padding: 5px;
				font-size: 14px;
				font-weight: 600;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s;
				height: 30px;

				.article--full &{
					width: 11.842117728%;
				}

				.article--xmedium &{
					width: 23.684210526%;
				}

				.article--medium &{
					width: 32.142857142%;
				}

				.article--small--full &{
					width: 25%;
					position: absolute;
					z-index: 1;
				}

				.article--small--half &{
					width: 25%;
					z-index: 1;
				}

				.lifestyle &{
					@include m-bgcolor('lifestyle');
				}

				.fitness &{
					@include m-bgcolor('fitness');
				}

				.food &{
					@include m-bgcolor('food');
				}
			}

			//{{article__tag__container--inner}}
			&--inner{
				text-align: center;
			}
		}
	}

	//{{article__img}}
	&__img{
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		.article--full &{

			@include mq(large){
				width: 65.5171724138%;
				height: 100%;
				float: left;
			}
		}

		.article--xmedium &{

			@include mq(large){
				width: 50%;
				height: 100%;
				float: left;
			}
		}

		.article--medium &{

			@include mq(large){
				width: 50%;
				height: 100%;
				float: left;
			}
		}

		.article--small--full &{	
			position: absolute;
			height: 100%;
		}

		.article--small--half &{
			height: 45.83333333333333%;
		}
	}

	//{{article__text}}
	&__text{
		font-family: Breakers-Light;
		font-size: 18px;
		line-height: 1.25;

		&:first-child{
			margin-top: 15px;
		}

		.article--full &{
			@include m-color('article-black');
		}
		.article--xmedium &{
			@include m-color('article-black');
		}
		.article--medium &{
			@include m-color('article-black');
		}
		.article--small--full &{
			@include m-color('white');
		}
		.article--small--half &{
			@include m-color('article-black');
		}

		//{{article__text__container}}
		&__container{

			//{{article__text__container--outer}}
			&--outer{

				.article--full &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;

					@include mq(large){
						width: 34.48275862068966%;
						float: right;
					}
				}

				.article--xmedium &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;

					@include mq(large){
						width: 50%;
						float: right;
					}
				}

				.article--medium &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;

					@include mq(large){
						width: 50%;
						float: right;
					}
				}

				.article--small--full &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100 */
					background: rgba(0,0,0,1); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

					@include mq(large){
						position: absolute;
					}
				}

				.article--small--half &{
					width: 100%;
					height: 100%;
					padding: 3.44827586206897%;
				}
			}

			//{{article__text__container--inner}}
			&--inner{

			}
		}
	}

	//{{article__title}}
	&__title{
		text-transform: uppercase;
		font-size: 34px;
		line-height: 1;

		.article--full &{
			@include m-color('article-black');
			font-family: Breakers-Light;
		}
		.article--xmedium &{
			@include m-color('article-black');
			font-family: Breakers-Light;
		}
		.article--medium &{
			@include m-color('article-black');
			font-family: Breakers-Light;
		}
		.article--small--full &{
			@include m-color('white');
			font-family: Breakers-Light;
		}
		.article--small--half &{
			@include m-color('article-black');
			font-family: Breakers-Light;
		}

		.article--small--full.grid-item-5 &{
			font-family: Breakers-Regular;
		}
		.article--small--full.grid-item-6 &{
			font-family: Breakers-Regular;
			font-size: 20px;
		}
		.article--small--full.grid-item-7 &{
			font-family: Breakers-Regular;
		}
	}

	//{{article__author}}
	&__author{

		//{{article__author__container}}
		&__container{
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}

		//{{article__author__img}}
		&__img{
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 35px;
			width: 35px;
			margin-right: 10px;
			border-radius: 50%;
		}

		//{{article__author__name}}
		&__name{
			font-family: Breakers-Regular;
			font-size: 14px;

			.article--full &{
				@include m-color('article-author');
			}
			.article--xmedium &{
				@include m-color('article-author');
			}
			.article--medium &{
				@include m-color('article-author');
			}
			.article--small--full &{
				@include m-color('white');
			}
			.article--small--half &{
				@include m-color('article-author');
			}

			.article--small--full.grid-item-5 &,
			.article--small--full.grid-item-6 &,
			.article--small--full.grid-item-7 &{

				small{
					font-size: 12px;
				}
			}
		}
	}

	// {{article__more}}
	&__more{
		cursor: pointer;

		// {{article__more__container}}
		&__container{
			text-align: center;
			margin-bottom: 80px;
		}
	}

	// {{article__pagination}}
	&__pagination{
		display: none;
	}
}