@import url("//hello.myfonts.net/count/313bc6");

@font-face {font-family: 'Breakers-Regular';src: url('../fonts/313BC6_0_0.eot');src: url('../fonts/313BC6_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/313BC6_0_0.woff2') format('woff2'),url('../fonts/313BC6_0_0.woff') format('woff'),url('../fonts/313BC6_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Breakers-Black';src: url('../fonts/313BC6_1_0.eot');src: url('../fonts/313BC6_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/313BC6_1_0.woff2') format('woff2'),url('../fonts/313BC6_1_0.woff') format('woff'),url('../fonts/313BC6_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Breakers-Bold';src: url('../fonts/313BC6_2_0.eot');src: url('../fonts/313BC6_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/313BC6_2_0.woff2') format('woff2'),url('../fonts/313BC6_2_0.woff') format('woff'),url('../fonts/313BC6_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Breakers-Light';src: url('../fonts/313BC6_3_0.eot');src: url('../fonts/313BC6_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/313BC6_3_0.woff2') format('woff2'),url('../fonts/313BC6_3_0.woff') format('woff'),url('../fonts/313BC6_3_0.ttf') format('truetype');}
