.mobile{

	// {{mobile__menu}}
	&__menu{
		@include m-zindex('mobile-menu');
	    //background-image: url('/images/pattern-transparent.png');
	    background-size: 75%;
	    background-color: rgba(82, 154, 204, 1);
	    display: none;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 400px;
	    padding: 10px;
	    transition: all 0.3s;
	    -webkit-transition: all 0.3s;

	    // {{mobile__menu__close}}
	    &__close{
	    	
	    	// {{mobile__menu__close__container}}
	    	&__container{
	    		display: flex;
	    		align-items: center;
	    		cursor: pointer;
	    		margin: 75px 10px;
	    	}

	    	// {{mobile__menu__close__text}}
	    	&__text{
	    		@include m-color('white');
	    		@include font('Breakers-Regular');
	    		font-size: 28px;
	    	}

	    	// {{mobile__menu__close__icon}}
	    	&__icon{
	    		margin-right: 20px;
	    	}
	    }

	    // {{mobile__menu__button}}
	    &__button{

	    	// {{mobile__menu__button__container}}
	    	&__container{
	    		display: flex;
	    		align-items: center;
	    		padding: 10px 0;
	    		margin-bottom: 10px;

	    		&:hover, &:focus{
	    			@include m-color('white');
	    			text-decoration: none;
	    		}

	    		&.fitness{
	    			@include m-bgcolor('fitness');
	    		}
	    		&.lifestyle{
	    			@include m-bgcolor('lifestyle');
	    		}
	    		&.food{
	    			@include m-bgcolor('food');
	    		}
	    	}

	    	// {{mobile__menu__button__text}}
	    	&__text{
	    		@include m-color('white');
	    		@include font('Breakers-Regular');
	    		font-size: 32px;
	    	}

	    	// {{mobile__menu__button__icon}}
	    	&__icon{

	    		// {{mobile__menu__button__icon__container}}
	    		&__container{
	    			text-align: center;
	    			width: 60px;
	    		}
	    	}
	    }
	}

	// {{mobile__line}}
	&__line{
		border-bottom: 1px solid f-color('white');
		padding-bottom: 35px;
		height: 1px;
	}

	// {{mobile__search}}
	&__search{

		// {{mobile__search__container}}
		&__container{
			
			// {{mobile__search__container--outer}}
			&--outer{
				@include m-bgcolor('mobile-menu');
				@include m-zindex('mobile-search');
				height: 200px;
				@include m-zindex('mobile-menu');
			    background-color: rgba(82, 154, 204, 1);
			    display: none;
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    transition: all 0.3s;
			    -webkit-transition: all 0.3s;
			}

			// {{mobile__search__container--center}}
			&--center{
				height: 100%;
				max-width: 1160px;
				margin: 0 auto;
			}

			// {{mobile__search__container--inner}}
			&--inner{
				height: 100%;
				display: flex;
				align-items: center;
			}
		}

		// {{mobile__search__form}}
		&__form{
			display: flex;
			width: 100%;
			border-bottom: 1px solid white;
			padding-bottom: 20px;
			margin: 0 50px;
		}

		// {{mobile__search__input}}
		&__input{
			@include font('Breakers-Light');
			background-color: transparent;
			border: none;
			outline: none;
			color: white;
			padding: 0;
			font-size: 42px;
			width: 90%;

			&::-webkit-input-placeholder{
	 			@include m-color('white');
 			}
		}

		// {{mobile__search__submit}}
		&__submit{
			@include m-color('mobile-menu');
			background-color: transparent;
			background-image: url('/images/search.png');
			background-repeat: no-repeat;
			background-position: center;
			outline: none;
			border: 0;
			width: 10%;
		}
	}
}