.article{
	
	//{{article__link}}
	&__link{
		display: block;
		position: relative;
		height: 100%;
		overflow: hidden;
		outline: none;

		// Hover tag expand full and reduce opacity
		&:hover, &:focus{
			text-decoration: none;

			@include mq(large){

				.article__tag__container--outer{
					height: 100%;
					width: 100%;
					display: flex;

					.lifestyle &{
						background-color: rgba(219, 154, 196, 0.8);
					}

					.fitness &{
						background-color: rgba(246, 166, 97, 0.8);
					}

					.food &{
						background-color: rgba(76, 192, 183, 0.8);
					}
				}
				.article__icon{
					display: inline;
				}
				.article__tag{
					display: none;
				}
			}
		}
	}

	// {{article__icon}}
	&__icon{
		text-align: center;
		display: none;
	}

	//{{article__tag}}
	&__tag{
		@include font('Breakers-Bold');
		font-size: 12px;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;

		@include mq(medium){
			@include font('Breakers-Black');
			font-size: 16px;
		}

		.grid-item-6 &{
			@include mq(large){
				font-size: 12px;
			}
		}
		
		//{{article__tag__container}}
		&__container{

			//{{article__tag__container--outer}}
			&--outer{
				@include m-color('white');
				display: inline-block;
				justify-content: center;
				align-items: center;
				width: auto;
				vertical-align: top;
				padding: 2px 20px;
				font-size: 14px;
				font-weight: 600;
				height: 20px;

				@include mq(medium){
					height: 25px;
				}

				.article--full &{
					@include mq(large){
						height: 30px;
					}
				}

				.article--xmedium &{
					@include mq(large){
						height: 30px;
					}
				}

				.article--medium &{
					@include mq(large){
						height: 30px;
					}
				}

				.article--small--full &{
					@include m-zindex('tags');
					position: absolute;

					@include mq(large){
						height: 30px;
					}
				}

				.article--small--half &{
					@include m-zindex('tags');
					@include mq(large){
						height: 30px;
					}
				}

				.grid-item-5 &, .grid-item-7 &{

				}

				.grid-item-6 &{
					height: auto;
				}

				.lifestyle &{
					@include m-bgcolor('lifestyle');
				}

				.fitness &{
					@include m-bgcolor('fitness');
				}

				.food &{
					@include m-bgcolor('food');
				}
			}

			//{{article__tag__container--inner}}
			&--inner{
				text-align: center;
			}
		}
	}

	//{{article__img}}
	&__img{
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 195px;

		@include mq(large){
			height: auto;
		}

		.article--full &{

			@include mq(large){
				width: 65.5171724138%;
				height: 100%;
				float: left;
			}
		}

		.article--xmedium &{

			@include mq(large){
				width: 50%;
				height: 100%;
				float: left;
			}
		}

		.article--medium &{

			@include mq(large){
				width: 50%;
				height: 100%;
				float: left;
			}
		}

		.article--small--full &{	
			position: absolute;
			height: 100%;
		}

		.article--small--half &{
			height: 195px;

			@include mq(large){
				height: 45.83333333333333%;
			}
		}
	}

	//{{article__text}}
	&__text{
		@include font('Breakers-Light');
		font-size: 18px;
		line-height: 1.25;

		&:first-child{
			margin-top: 15px;
		}

		.article--full &{
			@include m-color('article-black');
		}
		.article--xmedium &{
			@include m-color('article-black');
		}
		.article--medium &{
			@include m-color('article-black');
		}
		.article--small--full &{
			@include m-color('white');
		}
		.article--small--half &{
			@include m-color('article-black');
		}

		//{{article__text__container}}
		&__container{

			//{{article__text__container--outer}}
			&--outer{

				.article--full &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;

					@include mq(large){
						width: 34.48275862068966%;
						float: right;
					}
				}

				.article--xmedium &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;

					@include mq(large){
						float: right;
						width: 50%;
						padding: 20px 20px 30px 40px;
					}
				}

				.article--medium &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;

					@include mq(large){
						float: right;
						width: 50%;
						padding: 20px;
					}
				}

				// Make all slides have the white overlay to begin with
				.slick-slide .article--small--full &{
					background: rgba(255,255,255,0.5);
					transition: all 1s ease-in-out;
					-webkit-transition: all 1s ease-in-out;
				}

				// Then make the normal black overlay for the center slick slide
				.article--small--full &, .slick-slide.slick-center .article--small--full &{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					padding: 3.44827586206897%;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100 */
					background: rgba(0,0,0,1); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
					position: absolute;
					transition: all 1s ease-in-out;
					-webkit-transition: all 1s ease-in-out;
				}

				.slick-slide .article--small--full &{
					padding: 3.44827586206897%;
				}

				.article--small--full &{
					padding: 3.44827586206897%;
					
					@include mq(large){
						padding: 20px 20px 4px;
					}
				}

				.article--small--half &{
					width: 100%;
    				height: 54.166666666%;
					padding: 3.44827586206897%;
					
					@include mq(large){
						padding: 20px;
					}
				}

				// To show absolute for header slick but not the masonry 
				.grid-item-5 &, .grid-item-6 &, .grid-item-7 &{
					position: absolute;
				}
			}

			// {{article__text__container--inner}}
			&--inner{

				.article--small--half &{
					overflow: hidden;
					height: 100%;
				}
			}
		}
	}

	// {{article__title}}
	&__title{
		text-transform: uppercase;
		font-size: 34px;
		line-height: 1;

		.article--full &{
			@include m-color('article-black');
			@include font('Breakers-Light');
			margin-bottom: 16px;
		}
		.article--xmedium &{
			@include m-color('article-black');
			@include font('Breakers-Light');
			margin-bottom: 16px;
		}
		.article--medium &{
			@include m-color('article-black');
			@include font('Breakers-Light');
			margin-bottom: 16px;
		}
		.article--small--full &{
			@include m-color('white');
			@include font('Breakers-Light');
			margin-bottom: 16px;
		}
		.article--small--half &{
			@include m-color('article-black');
			@include font('Breakers-Light');
			margin-bottom: 16px;
		}

		.article--small--full.grid-item-5 &{
			@include font('Breakers-Regular');
			font-size: 15px;
			margin-bottom: 0;

			@include mq(large){
				font-size: 34px;
				margin-bottom: 8px;
			}
		}
		.article--small--full.grid-item-6 &{
			@include font('Breakers-Regular');
			margin-bottom: 0;
			font-size: 15px;

			@include mq(large){
				margin-bottom: 8px;
				font-size: 20px;
			}
		}
		.article--small--full.grid-item-7 &{
			@include font('Breakers-Regular');
			font-size: 15px;
			margin-bottom: 0;

			@include mq(large){
				font-size: 34px;
				margin-bottom: 8px;
			}
		}

		.slick__container--standard__frame &{
			font-size: 24px;

			@include mq(medium){
				font-size: 34px;
			}
		}
	}

	//{{article__author}}
	&__author{

		//{{article__author__container}}
		&__container{
			display: flex;
			align-items: center;
			margin-bottom: 16px;

			.article--small--full.grid-item-5 &{
				margin-bottom: 0;
			}
			.article--small--full.grid-item-6 &{
				margin-bottom: 0;
			}
			.article--small--full.grid-item-7 &{
				margin-bottom: 0;
			}
		}

		//{{article__author__img}}
		&__img{
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 35px;
			width: 35px;
			margin-right: 10px;
			border-radius: 50%;
		}

		//{{article__author__name}}
		&__name{
			@include font('Breakers-Regular');
			font-size: 14px;

			.article--full &{
				@include m-color('article-author');
			}
			.article--xmedium &{
				@include m-color('article-author');
			}
			.article--medium &{
				@include m-color('article-author');
			}
			.article--small--full &{
				@include m-color('white');
			}
			.article--small--half &{
				@include m-color('article-author');
			}

			.article--small--full.grid-item-5 &,
			.article--small--full.grid-item-6 &,
			.article--small--full.grid-item-7 &{

				small{
					font-size: 12px;
				}
			}
		}
	}

	&--small--full{
		height: 400px;

		@include mq(large){
			height: auto;
		}
	}

	// {{article__more}}
	&__more{
		cursor: pointer;
		width: 100px;
		margin-top: 40px;

		@include mq(large){
			width: auto;
			margin-top: 0;
		}

		// {{article__more__container}}
		&__container{
			text-align: center;
			margin-bottom: 80px;
		}
	}

	// {{article__pagination}}
	&__pagination{
		display: none;
	}
}