.tag{

	&__container{
		clear: both;
		margin-top: 85px;
	}

	&__list{
		list-style-type: none;
		margin: 0;

		&__enclosure{
			@include font('Breakers-Light');
			display: inline;
			margin-right: 20px;
			font-size: 18px;
		}
	}
}