// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/header/header';
@import '../_modules/footer/footer';
@import '../_modules/subscribe/subscribe';

@import "01_settings/_settings.colors.scss";
@import "01_settings/_settings.foundation.scss";
@import "01_settings/_settings.zindex.scss";
@import "02_tools/_tools.function.color.scss";
@import "02_tools/_tools.mixin.color.scss";
@import "02_tools/_tools.mixin.mq.scss";
@import "02_tools/_tools.mixin.zindex.scss";
@import "03_generic/_generic.fonts.scss";
@import "06_components/_components.author.scss";
@import "06_components/_components.article.scss";
@import "06_components/_components.breadcrumb.scss";
@import "06_components/_components.column.scss";
@import "06_components/_components.container.scss";
@import "06_components/_components.filter.scss";
@import "06_components/_components.fonts.scss";
@import "06_components/_components.footer.scss";
@import "06_components/_components.grid.scss";
@import "06_components/_components.header.scss";
@import "06_components/_components.overlay.scss";
@import "06_components/_components.slick.scss";
@import "06_components/_components.standard.scss";
@import "06_components/_components.subscribe.scss";
@import "06_components/_components.tag.scss";

// Import Foundation Module
@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything;

// Importing the base here to replace the base imported from default foundation
@import "04_base/_base.scss";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}