mixin header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	div.overlay
	header.headroom
		div.row.fullheight
			div.columns.large-12.fullheight
				div.header__container
					div.header__menu__container
						img.header__menu__img(src="/images/menu.png", alt="menu icon")
						div.header__menu__text.show-for-large Menu
					a(href="/")
						img.header__logo(src="/images/ALD-logo.png", alt="logo")
					div.header__right__container
						div.header__media__container.show-for-large
							a(href="#")
								img.header__facebook(src="/images/facebook.png", alt="facebook")
								img.header__facebook-white(src="/images/facebook-white.png", alt="facebook")
							a(href="#")
								img.header__instagram(src="/images/instagram.png", alt="instagram")
								img.header__instagram-white(src="/images/instagram-white.png", alt="instagram")
							a.header__subscribe__link
								img.header__subscribe(src="/images/subscribe.png", alt="subscribe")
								img.header__subscribe-white(src="/images/subscribe-white.png", alt="subscribe")
						img.header__search(src="/images/search-shadow.png", alt="search")
	div.mobile__menu
		div.mobile__menu__close__container
			img.mobile__menu__close__icon(src='/images/menu-close.png')
			div.mobile__menu__close__text Menu
		a.mobile__menu__button__container.fitness(href="/pillar.html")
			div.mobile__menu__button__icon__container
				img(src='/images/fitness-nav.png')
			div.mobile__menu__button__text Fitness
		a.mobile__menu__button__container.lifestyle(href="/pillar.html")
			div.mobile__menu__button__icon__container
				img(src='/images/lifestyle-nav.png')
			div.mobile__menu__button__text Lifestyle
		a.mobile__menu__button__container.food(href="/pillar.html")
			div.mobile__menu__button__icon__container
				img(src='/images/food-nav.png')
			div.mobile__menu__button__text Food
		a.mobile__menu__button__container(href="/")
			div.mobile__menu__button__icon__container
				img(src='/images/a-nav.png')
			div.mobile__menu__button__text Home
		a.mobile__menu__button__container(href="/about.html")
			div.mobile__menu__button__icon__container
			div.mobile__menu__button__text About
		a.mobile__menu__button__container(href="/contact.html")
			div.mobile__menu__button__icon__container
			div.mobile__menu__button__text Contact
		div.mobile__line
	div.mobile__search__container--outer
		div.mobile__search__container--center
			div.mobile__search__container--inner
				form.mobile__search__form(action="/listing.html")
					input.mobile__search__input(placeholder="I am looking for..."  onfocus="this.placeholder = ''" onblur="this.placeholder = 'I am looking for...'")
					input.mobile__search__submit(type="submit" value=' .')
	div.mobile__subscribe.mobile__subscribe__container--outer
		div.mobile__subscribe__container--center
			div.mobile__subscribe__container--inner
				div.subscribe__icon__container
					img.subscribe__icon(src='/images/newsletter-pop.png')
				div.subscribe__title Subscribe to our newsletter
				div.subscribe__text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet direct to your inbox, for busy people.
				div.subscribe__text--bold.show-for-large I'm interested in
				div.subscribe__mobile__btn.hide-for-large Subscribe here
				form.subscribe__form.show-for-large(action="/", method="post")
					div.subscribe__checkbox__container
						input.subscribe__checkbox#subscribe-mobile-fitness(type='checkbox', name='subscribe-mobile-checkbox')
						label.subscribe__checkbox__label(for='subscribe-mobile-fitness')
							span.subscribe__checkbox__span
							| Fitness
						input.subscribe__checkbox#subscribe-mobile-lifestyle(type='checkbox', name='subscribe-mobile-checkbox')
						label.subscribe__checkbox__label(for='subscribe-mobile-lifestyle')
							span.subscribe__checkbox__span
							| Lifestyle
						input.subscribe__checkbox#subscribe-mobile-food(type='checkbox', name='subscribe-mobile-checkbox')
						label.subscribe__checkbox__label(for='subscribe-mobile-food')
							span.subscribe__checkbox__span
							| Food
					div.subscribe__input__container
						input.subscribe__input(placeholder="Your email..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email...'")
						div.subscribe__submit Submit
