extends _layouts/base

block content
	div
		div.container.container--standard
			div.row.show-for-large
				div.columns.large-8.large-centered
					div.breadcrumb__container
						ul.breadcrumb__list
						li.breadcrumb__list__enclosure 
							a.breadcrumb__list__enclosure__link(href="#") HOME
						li.breadcrumb__list__enclosure.breadcrumb__list__enclosure--divider -
						li.breadcrumb__list__enclosure 
							a.breadcrumb__list__enclosure__link(href="#") ABOUT
			div.row
				div.columns.large-8.large-centered
					div.about__title__container
						div.about__title About a little dash
					div.about__content
						p.about__abstract Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

						figure
							img(src="/images/wpid10390-sydney-coffee.jpg")

						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione <a href="#">voluptatem sequi</a> nesciunt.

						p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis <a href="#">nostrum</a> exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?

						p Qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.

						p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

						p A sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

						p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					div.about__button__container
						div.about__button
			div.row
				div.columns.large-8.large-centered
					div.about__button__container--outer
						div.about__button__container--inner
							a.about__button(href="#")
								img(src="/images/filter-fitness-off.png")
								div.about__button__text Fitness
							a.about__button(href="#")
								img(src="/images/filter-lifestyle-off.png")
								div.about__button__text Lifestyle
							a.about__button(href="#")
								img(src="/images/filter-food-off.png")
								div.about__button__text Food
			div.standard__pattern__container.sticky-stop(style="background-image: url('/images/pattern.png');")
				+subscribe()


				