extends _layouts/base

block content
	div.container.page--fitness
		div.row
			div.columns.large-12
				div.breadcrumb__container
					ul.breadcrumb__list
					li.breadcrumb__list__enclosure HOME
					li.breadcrumb__list__enclosure.breadcrumb__list__enclosure--divider -
					li.breadcrumb__list__enclosure FITNESS
					li.breadcrumb__list__enclosure.breadcrumb__list__enclosure--divider -
					li.breadcrumb__list__enclosure TRAINING
		div.row
			div.columns.large-12
				div.standard__img__container
					img.standard__img
					div.standard__img__text FITNESS
		div.row
			div.columns.large-8.large-centered
				div.standard__content
					h1 WHY GROUP TRAINING PAYS OFF BETTER IN THE LONG RUN

