extends _layouts/base

block content
	div.container.page--fitness
		div.row
			div.columns.large-12
				div.breadcrumb__container
					ul.breadcrumb__list
					li.breadcrumb__list__enclosure HOME
					li.breadcrumb__list__enclosure.breadcrumb__list__enclosure--divider -
					li.breadcrumb__list__enclosure FITNESS
					li.breadcrumb__list__enclosure.breadcrumb__list__enclosure--divider -
					li.breadcrumb__list__enclosure TRAINING
		div.row
			div.columns.large-12
				div.standard__img__container
					img.standard__img(src="/images/placeholder3.jpg", alt="Article image")
					div.standard__img__text FITNESS
		div.row
			div.columns.large-8.large-centered
				div.standard__title__container
					h1 WHY GROUP TRAINING PAYS OFF BETTER IN THE LONG RUN
				div.standard__stats
					div.standard__read__container
						img.standard__read__icon(src="favicon.ico", alt="icon")
						small.standard__read__text 4 MINS READ
					div.standard__comments 3 <small>COMMENTS</small>
				div.standard__content
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione <a href="#">voluptatem sequi</a> nesciunt.

					p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis <a href="#">nostrum</a> exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?

					p Qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.

					p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 

					p A sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

					p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
				div.tag__container
					ul.tag__list
						li.tag__list__enclosure 
							a(href="#") #lifestyle
						li.tag__list__enclosure 
							a(href="#") #training
						li.tag__list__enclosure 
							a(href="#") #fitness
						li.tag__list__enclosure 
							a(href="#") #exercise
						li.tag__list__enclosure 
							a(href="#") #gettingfit
				div.author__container
					div.author__img__container(style="background-image:url('/images/placeholder3.jpg');")
					div.author__info
						div.author__name OASHEEY KEY
						div.author__text Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <a href="#">Nulla consequat massa quis enim</a>.
					div.author__join__container--outer
						div.author__join__container--center
							div.author__join__container--inner
								img(src="favicon.ico")
								div.author__join__text Join in the discussion
				a.standard__comments--view(href="#") VIEW COMMENTS <small>(</small>3<small>)</small>
